In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\choug\appdata\roaming\python\python39\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\choug\appdata\roaming\python\python39\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\choug\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\choug\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: sortedcontainers in c:\users\choug\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\choug\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\choug\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\choug\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\choug\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\choug\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\choug\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\choug\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\choug\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\choug\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\choug\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\choug\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\choug\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\choug\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\choug\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [6]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

Question 1)  

Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [6]:
def Shubh(url):   #Creating Function to searches details of most viewed videos on YouTube from Wikipedia
        
    url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"   #URL of the question.
        
    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    time.sleep(3)
# Creating Empty variables to append the particular column data in the variables.

    Rank1 = []
    Name1 = []
    Artist1 = []
    Date1 = []
    Views1 = []

    #Rank
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter" ][1]/tbody/tr/td[1]'):
        Rank1.append(i.text)
    #Name
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter" ][1]/tbody/tr/td[2]'):
        Name1.append(i.text)
    #artist
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter" ][1]/tbody/tr/td[3]'):
        Artist1.append(i.text)
    #Date
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter" ][1]/tbody/tr/td[5]'):
        Date1.append(i.text)
    #Views
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter" ][1]/tbody/tr/td[4]'):
        Views1.append(i.text)

    #Creating Dataframe
    
    data=pd.DataFrame()
    data['Rank'] = Rank1
    data['Name'] = Name1
    data['Artist'] = Artist1
    data['Date'] = Date1
    data['Views'] = Views1
    
    
    return data  #return the Dataframe With the Collected data.

In [7]:
# Calling the Function With Declearing the Variable

df=Shubh('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

df

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.95
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.90
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.39
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.76
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.57
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.51
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.72
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.63
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.59
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.48
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.20
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.98
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.72
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.61
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.61
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.56
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.47
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.42
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.31
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.31
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.30
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.29
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.26
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.23
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.23
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.20
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.19
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.10

 Question 2). 
 Scrape the details team India’s international fixtures from bcci.tv.
 
 Url = https://www.bcci.tv/.

 You need to find following details:
 
 A) Match title (I.e. 1st ODI)
 
 B) Series
 
 C) Place
 
 D) Date
 
 E) Time
 
 Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
def fixtures(url):   #Creating Function to searches details of team India’s international fixtures 
    
    Url = "https://www.bcci.tv"     #URL of the question.

    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()

    inter=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')
    fix=driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
    action=ActionChains(driver)
    action.move_to_element(inter).move_to_element(fix).click().perform()
    time.sleep(2)
    
# Creating Empty variables to append the particular column data in the variables.

    title=[]
    series=[]
    place=[]
    date=[]
    t=[]

    #Title
    for i in driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]'):
        title.append(i.text)

    #Series
    for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]'):
        series.append(i.text)

    #Place
    for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span'):
        place.append(i.text)

    #Date

    day=[]
    month=[]

    #Extracting day
    for i in driver.find_elements_by_xpath('//span[@class="fixture__date"]'):
        day.append(i.text)

    #Extracting month
    for i in driver.find_elements_by_xpath('//span[@class="fixture__month"]'):
        month.append(i.text)

    #joining day and month into one column
    for i in range(len(day)):
        date.append(day[i]+month[i])

    #Time
    for i in driver.find_elements_by_xpath('//span[@class="fixture__time"]'):
        t.append(i.text)


    #Creating Dataframe:
    
    data=pd.DataFrame()
    data['Match Title']=title
    data['Series']=series
    data['Place']=place
    data['Date']=date
    data['Time']=t
    
    
    return data #return the Dataframe With the Collected data.

In [7]:
# Calling the Function With Declearing the Variable:


df=fixtures('https://www.bcci.tv/')

df

,Match Title,Series,Place,Date,Time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18JULY,14:30 IST
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",20JULY,14:30 IST
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",23JULY,14:30 IST
3,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",25JULY,19:00 IST
4,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",27JULY,19:00 IST
5,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",29JULY,19:00 IST
6,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
7,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
8,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
9,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
10,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

 Question 3). Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description


Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [8]:
def selenium_excep(url):       # Creating Function to searches details of selenium exception from guru99.com
        
    
    url = "https://www.guru99.com"          #URL of the question.
    
    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()

    testing=driver.find_element_by_xpath('//*[@id="menu-3688-particle"]/nav/ul/li[2]/div')
    sele=driver.find_element_by_xpath('//*[@id="menu-3688-particle"]/nav/ul/li[2]/ul/li/div/div[3]/ul/li[5]/a/span/span')
    action=ActionChains(driver)
    #Hovering on test tab then to elenium and clicking
    action.move_to_element(testing).move_to_element(sele).click().perform()

    #Clicking Selenium Exception tutorial
    
    driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').click()
    
# Creating Empty variables to append the particular column data in the variables.

    name=[]
    desc=[]

    #Name
    for i,n in enumerate(driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')):
        if i==0:
            pass
        else:
            name.append(n.text)
    #Description
    for i,n in enumerate(driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')):
        if i==0:
            pass
        else:
            desc.append(n.text)

   #Creating Dataframe


    data=pd.DataFrame()
    data['Name']=name
    data['Description']=desc
    
    
    return data     #return the Dataframe With the Collected data.

In [9]:
# Calling the Function With Declearing the Variable:


df=selenium_excep('https://www.guru99.com/')

df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

 Question 4). Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [10]:
def stats(url):           #Creating Function to searches details of Stste-wise GDP of India from Statisticstime.com
        
    
    Url = "http://statisticstimes.com"         #URL of the question.

# Creating Empty variables to append the particular column data in the variables.

    rank=[]
    state=[]
    gsdp19=[]
    gsdp18=[]
    share=[]
    gdp=[]

    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()

    #Moving to economy page and then to india economy page
    eco=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
    ind=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
    action=ActionChains(driver)
    action.move_to_element(eco).move_to_element(ind).click().perform()
    time.sleep(5)

    #Moving to state economy page
    driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

    for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]'):
        rank.append(i.text)
    #State
    for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]'):
        state.append(i.text)
    #GSDP 19-20
    for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]'):
        gsdp19.append(i.text)
    #GSDP 18-19
    for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]'):
        gsdp18.append(i.text)
    #Share
    for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]'):
        share.append(i.text)
    #GDP
    for i in driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]'):
        gdp.append(i.text)

    #Creating Dataframe :
    
    data=pd.DataFrame()
    data['Rank']=rank
    data['State']=state
    data['GSDP 19-20']=gsdp19
    data['GSDP 18-19']=gsdp18
    data['Share']=share
    data['GDP']=gdp
    
    
    return data            #return the Dataframe With the Collected data.

In [11]:
# Calling the Function With Declearing the Variable:


df=stats('http://statisticstimes.com/')

df

   Rank                      State GSDP 19-20 GSDP 18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

Question 5). Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:
 
 A) Repository title
 
 B) Repository description
 
 C) Contributors count
 
 D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [12]:
def git(url):         #Creating Function to searches details of trending repositories on Github.com
        
    
    url = "https://github.com"             #URL of the question.

    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(u)
    driver.maximize_window()

    f=0
    #Looping till element becomes interactable
    while f==0:
        exp=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
        trend=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
        action=ActionChains(driver)
        action.move_to_element(exp).click().perform()
        time.sleep(2)
        try:
            action.move_to_element(trend).click().perform()
            f=1
        except ElementNotInteractableException:
            pass

# Creating Empty variables to append the particular column data in the variables.

    title=[]
    url=[]
    desc=[]
    contri=[]
    lang=[]

    #Repository Title and url for each of these repositories
    for i in driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]/a'):
        title.append(i.text)
        url.append(i.get_attribute('href'))
    #For each URL
    for j in url:
        driver.get(j)
        #Repository Description
        try:
            d = driver.find_element_by_xpath('//p[@class="f4 mt-3"]')
            desc.append(d.text)
        except NoSuchElementException:
            desc.append('-')
        #Contribution Count
        try:
            contri.append(driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[4]/div/h2/a/span').text)
        except NoSuchElementException:
            try:
                contri.append(driver.find_element_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[5]/div/h2/a/span').text)
            except NoSuchElementException:
                contri.append('-')
        #Language Used
        s=''
        try:
            for i in driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[5]/div/ul/li'):
                s=s+'/'+i.text.replace('\n',' ').split()[0]
        except:
            for i in driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div[6]/div/ul/li'):
                s=s+'/'+i.text.replace('\n',' ').split()[0]
        lang.append(s)

    #Creating Dataframe:
    
    data=pd.DataFrame()
    data['Repository Title']=title
    data['Repository Description']=desc
    data['Contribution Count']=contri
    data['Language Used']=lang
    
    return data  #return the Dataframe With the Collected data.

In [13]:
# Calling the Function With Declearing the Variable:


df=git('https://github.com/')

df

,Repository Title,Repository Description,Contribution Count,Language Used
0,YMFE / yapi,YApi 是一个可本地部署的、打通前后端及QA的、可视化的接口管理平台,63,/JavaScript/SCSS/Other
1,SmartKeyerror / Psyduck,"Record CS knowlegement with XMind, version 2.0...",-,/Go/C++/C
2,returntocorp / semgrep,Lightweight static analysis for many languages...,49,/Java/OCaml/JavaScript/Python/Standard/Shell/O...
3,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,117,
4,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),70,
5,catchorg / Catch2,"A modern, C++-native, header-only, test framew...",264,/C++/CMake/Python/Shell/Batchfile/PowerShell
6,EbookFoundation / free-programming-books,📚 Freely available programming books,-,
7,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,152,/Python/Ruby/ASP.NET/Classic/PHP/Jupyter/Other
8,ankurchavda / SparkLearning,A comprehensive Spark guide collated from mult...,-,
9,goldbergyoni / nodebestpractices,✅ The Node.js best practices list (June 2021),-,
10,Gaboros / VenturePlan,-,6,/Lua/Java
11,sorrycc / awesome-javascript,🐢 A collection of awesome browser-side JavaScr...,266,
12,kean / Pulse,Logger and network inspector for Apple platforms,5,/Swift/Shell
13,o3de / o3de,Source for fully featured AAA Open 3D Engine,108,/C++/Python/CMake/C/Lua/Objective-C++/Other
14,ruanyf / weekly,科技爱好者周刊，每周五发布,25,
15,shufflewzc / faker2,不知名大佬备份,-,
16,spring-projects / spring-graphql,Spring integration for GraphQL,10,/Java/CSS/Shell/Other
17,chefyuan / algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,5,
18,star261 / jd,-,2,/lsh26/star261
19,microsoft / vscode,Visual Studio Code,"1,447",/TypeScript/JavaScript/CSS/Inno/HTML/Shell
20,puppeteer / puppeteer,Headless Chrome Node.js API,145k,/TypeScript/JavaScript/HTML/Other
21,zero205 / JD_tencent_scf,京东腾讯云函数版，低调使用，不要fork！！,-,
22,ClickHouse / ClickHouse,ClickHouse® is a free analytics DBMS for big data,723,/C++/Python/Assembly/Shell/CMake/JavaScript/Other
23,madMAx43v3r / chia-plotter,-,33,/C/C++/Other
24,emqx / emqx,"An Open-Source, Cloud-Native, distributed MQTT...",64,/Erlang/Shell/C/Makefile/Batchfile/Python/Other

Question 6). Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:
 
 A) Song name
 
 B) Artist name
 
 C) Last week rank
 
 D) Peak rank
 
 E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [20]:
def billboard(url):            #Creating Function to searches details of top 100 songs on billboard.com
        
    
    url = "https://www.billboard.com"              #URL of the question.
    
    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()

    #Hovering over charts then clicking on top 100
    chart=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a')
    top=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/span/span/span/span[1]/ul/li[1]/a')
    action=ActionChains(driver)
    action.move_to_element(chart).perform()
    time.sleep(2)
    action.move_to_element(top).click().perform()

# Creating Empty variables to append the particular column data in the variables.

    sname=[]
    aname=[]
    wrank=[]
    prank=[]
    wob=[]

    #Song Name
    for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]'):
        sname.append(i.text)
    #Artist Name
    for i in driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]'):
        aname.append(i.text)
    #Last Week Rank
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]'):
        wrank.append(i.text)
    #Peak Rank
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]'):
        prank.append(i.text)
    #Weeks on board
    for i in driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]'):
        wob.append(i.text)

    #Creating Dataframe
    
    data=pd.DataFrame()
    data['Song Name']=sname
    data['Artist Name']=aname
    data['Last Week Rank']=wrank
    data['Peak Rank']=prank
    data['Weeks on Chart']=wob
    
    
    return data        #return the Dataframe With the Collected data.

In [21]:
# Calling the Function With Declearing the Variable:


df=billboard('https://www.billboard.com/')

df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Chart
0,Butter,BTS,1,1,6
1,Good 4 U,Olivia Rodrigo,2,1,7
2,Kiss Me More,Doja Cat Featuring SZA,4,3,12
3,Levitating,Dua Lipa Featuring DaBaby,3,2,39
4,Bad Habits,Ed Sheeran,-,5,1
...,...,...,...,...,...
95,Twerkulator,City Girls,96,51,4
96,Tombstone,Rod Wave,83,11,14
97,Miss The Rage,Trippie Redd & Playboi Carti,82,11,8
98,Rise!,"Tyler, The Creator Featuring Daisy World",-,99,1
99,Working,Tate McRae X Khalid,94,94,2

Question 7). Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:
 
 A) Name
 
 B) Designation
 
 C) Company
 
 D) Skills they hire for
 
 E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [22]:
def naukri(url):            #Creating Function to searches details of Data Science Recruiters from naukri.com
        
    
    Url = "https://www.naukri.com"                 #URL of the question.
    
    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()

    #Getting recruiter link and providing it to the driver
    rec=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a')
    driver.get(rec.get_attribute('href'))

    #Searching for Data Scientist 
    search=driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
    search.send_keys('Data Science')
    time.sleep(1)
    search.send_keys(Keys.ENTER)
    
# Creating Empty variables to append the particular column data in the variables.

    name=[]
    desig=[]
    comp=[]
    skills=[]
    loc=[]
    url=[]

    #Name
    for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
        name.append(i.text)
    #Designation
    for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
        desig.append(i.text)
    #Company
    for i in driver.find_elements_by_xpath('//a[@class="ellipsis"][2]'):
        comp.append(i.text)
    #Skills
    for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
        skills.append(i.text)
    #URL
    for i in driver.find_elements_by_xpath('//a[@class="ellipsis"][1]'):
        url.append(i.get_attribute('href'))

    #For every url we are extracting location
    for u in url:
        driver.get(u)
        WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')))
        loc.append(driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a').text)

    #Creating Dataframe:
    
    
    data=pd.DataFrame()
    data['Name']=name
    data['Designation']=desig
    data['Company']=comp
    data['Skills they higher for']=skills
    data['Location']=loc
    
    
    return data         #return the Dataframe With the Collected data.

In [23]:
# Calling the Function With Declearing the Variable:


df=naukri('https://www.naukri.com/')

df

,Name,Designation,Company,Skills they higher for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

Question 8). Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:
 
 A) Book name
 
 B) Author name
 
 C) Volumes sold
 
 D) Publisher
 
 E) Genre

In [9]:
def novels():       #Creating Function to searches details of Heighest Selling novels.
   
    #URL template for accessing the website.
    
    url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
    
    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)#Opening with the URL template.
    driver.maximize_window()#Maximize the Window.
    
    #Creating a dummy list and scraping the all the required details.
   
    dummy = [i.text for i in driver.find_elements(By.XPATH,"//table [@class ='in-article sortable']//tr/td")]
    
    driver.close() #Quiting the driver post collecting the details. 
    
    dummy.remove('SOURCE: NIELSEN BOOK SCAN') #Removing the unwanted details from dummy list.
    
    
# Creating Empty variables to append the particular column data in the variables.

    Book_name = [] 
    Author_name = [] 
    Volumes_sold = [] 
    Publisher = [] 
    Genre = [] 

    z = 0
    while z < len(dummy): #Splitting dummy list and storing the required details it in the appropriate list.
        z+=1
        Book_name.append(dummy[z])
        z+=1
        Author_name.append(dummy[z])
        z+=1
        Volumes_sold.append(dummy[z])
        z+=1
        Publisher.append(dummy[z])
        z+=1
        Genre.append(dummy[z])
        z+=1
    
    #Creating the DataFrame with all the collected details.
    table = pd.DataFrame({"Book_name" : Book_name,
                          "Author_name" : Author_name,
                          "Volumes_sold" : Volumes_sold,
                          "Publisher" : Publisher,
                          "Genre": Genre})
    
    return table #returning the DataFrame.

In [10]:
# Calling the Function With Declearing the Variable:

df=novels()

df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question 9). Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:
 
 A) Name
 
 B) Year span
 
 C) Genre
 
 D) Run time
 
 E) Ratings
 
 F) Votes

In [8]:
def tv_series(url):           #Creating Function to searches details of most watched tv series of all time from imdb.com
    
    url = "https://www.imdb.com/list/ls095964455"              #URL of the question.

    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()
    
# Creating Empty variables to append the particular column data in the variables.

    name=[]
    year=[]
    gen=[]
    rt=[]
    rat=[]
    vot=[]

    #Name
    for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'):
        name.append(i.text)
    #Year Span
    for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]'):
        year.append(i.text)
    #Genre
    for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
        gen.append(i.text)
    #Run TIme
    for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
        rt.append(i.text)
    #Ratings
    for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]'):
        rat.append(i.text)
    #Votes
    for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
        vot.append(i.text)

    #Creating Dataframe:
    
    data=pd.DataFrame()
    data['Name']=name
    data['Year Span']=year
    data['Genre']=gen
    data['Run Time']=rt
    data['Ratings']=rat
    data['Votes']=vot
    
    
    return data       #return the Dataframe With the Collected data.

In [9]:
# Calling the Function With Declearing the Variable:


df = tv_series('https://www.imdb.com/list/ls095964455/')

df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,009,458"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,090,617"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"955,155"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"285,549"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"245,207"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,098"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,894"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"192,255"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,598"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"231,253"

Question 10) Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:
 
 A) Dataset name
 
 B) Data type
 
 C) Task
 
 D) Attribute type
 
 E) No of instances
 
 F) No of attribute
 
 G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [10]:
def uci(url):             #Creating Function to searches details of Datasets from UCI machine learning repositories.
    
    
    url = "https://archive.ics.uci.edu"                  #URL of the question.

    driver = webdriver.Chrome(r"C:\Driver\chromedriver.exe")  #Connecting to the webdriver.
    driver.get(url)
    driver.maximize_window()

    #Clicking on show all repositories
    driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()
    
# Creating Empty variables to append the particular column data in the variables.

    name=[]
    dt=[]
    task=[]
    at=[]
    noi=[]
    noa=[]
    year=[]

    #Name
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[1]')):
        if j==0:
            pass
        else:
            name.append(i.text)
    #Data Type
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[2]')):
        if j==0:
            pass
        else:
            dt.append(i.text)
    #Task
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[3]')):
        if j==0:
            pass
        else:
            task.append(i.text)
    #Attribute Type
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[4]')):
        if j==0:
            pass
        else:
            at.append(i.text)
    #No of instances
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[5]')):
        if j==0:
            pass
        else:
            noi.append(i.text)
    #No of Attribute
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[6]')):
        if j==0:
            pass
        else:
            noa.append(i.text)
    #Year
    for j,i in enumerate(driver.find_elements(By.XPATH,'//table[@border="1"]/tbody/tr/td[7]')):
        if j==0:
            pass
        else:
            year.append(i.text)

    #Creating Dataframe:
    
    data=pd.DataFrame()
    data['Dataset Name']=name
    data['Data type']=dt
    data['Task']=task
    data['Attribute type']=at
    data['No. of instances']=noi
    data['No. of Attribute']=noa
    data['Year']=year
    
    return data        #return the Dataframe With the Collected data.

In [11]:
# Calling the Function With Declearing the Variable:


df = uci('https://archive.ics.uci.edu/')

df

,Dataset Name,Data type,Task,Attribute type,No. of instances,No. of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021